.rotate {
  animation: spin 4s linear infinite;
}

.rotate-reverse {
  animation: spinreverse 4s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spinreverse {
  100% {
    transform: rotate(-360deg);
  }
}
